---
import ImageMod from "@/components/ImageMod.astro";
import PageHeading from "@/components/PageHeading.astro";
import content from "@/content/services.json";
import Layout from "@/layouts/Layout.astro";
import { markdownify } from "@/lib/utilities";

const { heading, sections } = content;
---

<Layout title="Services">
    <PageHeading text={heading} />

    {
        sections.map((section, sectionIndex) => (
            <section
                class={`section-sm ${sectionIndex % 2 !== 0 && "bg-gradient"}`}
            >
                <div class="container">
                    <div class="flex flex-col items-center">
                        <h3
                            set:html={markdownify(section.heading)}
                            class="h3"
                        />
                        {section.image && (
                            <img
                                alt={section.image.alt}
                                class="md:mt-6 rounded-lg"
                                src={section.image.src}
                                style={{ maxWidth: "100%" }}
                            />
                        )}
                        {section.text && (
                            <div class="content md:mt-6">
                                {markdownify(section.text)}
                            </div>
                        )}
                        {section.services && (
                            <div class="row items-center justify-between md:mt-6">
                                {section.services.map((service) => (
                                    <div class="md:col-3">
                                        <div class="flex flex-col md:gap-4">
                                            <ImageMod
                                                alt={service.image.alt}
                                                class="rounded"
                                                height={400}
                                                width={400}
                                                src={service.image.src}
                                            />
                                            <h4
                                                set:html={markdownify(
                                                    service.heading,
                                                )}
                                            />
                                            <p
                                                set:html={markdownify(
                                                    service.text,
                                                )}
                                                class="text-sm"
                                            />
                                        </div>
                                    </div>
                                ))}
                            </div>
                        )}
                    </div>
                </div>
            </section>
        ))
    }
</Layout>
