---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utilities";

interface Props {
    button?: {
        href: string;
        text: string;
    };
    heading: string;
    image?: {
        alt: string;
        src: string;
    };
    text: string;
}

const { button, heading, image, text } = Astro.props;
---

<section class="section pt-14">
    <div class="container">
        <div class="row justify-center">
            <div class="lg:col-7 md:col-9 mb-8 text-center">
                <h1
                    set:html={markdownify(heading)}
                    class="mb-4 text-h3 lg:text-h1"
                />
                <p set:html={markdownify(text)} class="mb-8" />
                {
                    button && (
                        <a
                            class="btn btn-primary"
                            href={button.href}
                            target={
                                button.href.startsWith("http")
                                    ? "_blank"
                                    : "_self"
                            }
                            rel="noopener"
                        >
                            {button.text}
                        </a>
                    )
                }
            </div>
            {
                image && (
                    <div class="col-12">
                        <ImageMod
                            src={image.src}
                            height={380}
                            width={1200}
                            alt={image.alt}
                            format="webp"
                        />
                    </div>
                )
            }
        </div>
    </div>
</section>
