---
import { markdownify } from "@/lib/utilities";

interface Props {
  button?: {
    href: string;
    text: string;
  };
  image?: {
    alt: string;
    src: string;
  };
  text?: {
    sections: {
      heading: string;
      text: string;
    }[];
  };
  title: string;
}

const { button, image, text, title } = Astro.props;
---

<section class={`section ${image ? "py-14" : "pb-0 pt-14"}`}>
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-8 md:col-10">
        <h1
          set:html={markdownify(title)}
          class="text-h3 lg:text-h1 text-center"
        />
      </div>
    </div>
    {
      text && (
        <div class="row justify-center mt-8">
          <div class="lg:col-10">
            <div class="flex flex-col gap-8">
              {text.sections.map((section) => (
                <div>
                  {section.heading && (
                    <h2
                      class="text-center text-h6 mb-1"
                      set:html={markdownify(section.heading)}
                    />
                  )}
                  <p class="text-lg" set:html={markdownify(section.text)} />
                </div>
              ))}
            </div>
          </div>
        </div>
      )
    }
    {
      button && (
        <div class="row justify-center mt-8">
          <div class="text-center">
            <a
              class="btn btn-lg btn-primary"
              href={button.href}
              target={button.href.startsWith("http") ? "_blank" : "_self"}
              rel="noopener"
            >
              {button.text}
            </a>
          </div>
        </div>
      )
    }
    {
      image && (
        <div class="row justify-center my-8">
          <div class="col-12 flex justify-center">
            <img class="max-w-2xl" alt={image.alt} src={image.src} />
          </div>
        </div>
      )
    }
  </div>
</section>
