---
import { markdownify } from "@/lib/utilities";

interface Props {
  button?: {
    href: string;
    text: string;
  };
  image?: {
    alt: string;
    src: string;
  };
  subtitle?: string;
  title: string;
}

const { button, image, subtitle, title } = Astro.props;
---

<section class={`section ${image ? "py-14" : "pb-0 pt-14"}`}>
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 md:col-9 text-center">
        <h1 set:html={markdownify(title)} class="text-h3 lg:text-h1" />
        {subtitle && <p set:html={markdownify(subtitle)} class="mt-4" />}
        {
          button && (
            <a
              class="btn btn-primary mt-8"
              href={button.href}
              target={button.href.startsWith("http") ? "_blank" : "_self"}
              rel="noopener"
            >
              {button.text}
            </a>
          )
        }
      </div>
      {
        image && (
          <div class="col-12 my-8">
            <img alt={image.alt} src={image.src} />
          </div>
        )
      }
    </div>
  </div>
</section>
