---
import ImageMod from "@/components/ImageMod.astro";
import Layout from "@/layouts/Layout.astro";
import { markdownify } from "@/lib/utilities";
import { getSinglePage } from "@/lib/utilities/getSinglePage.astro";

export async function getStaticPaths() {
    const posts = await getSinglePage("blog");

    const paths = posts.map((post) => ({
        params: {
            slug: post.slug,
        },
        props: { post },
    }));
    return paths;
}

const { post } = Astro.props;
const { Content } = await post.render();
const { title, description, image } = post.data;
---

<Layout title={title} description={description}>
    <section class="section pt-7">
        <div class="container">
            <div class="row justify-center">
                <article class="lg:col-10">
                    {
                        image && (
                            <div class="mb-10">
                                <ImageMod
                                    src={image}
                                    height={500}
                                    width={1200}
                                    alt={title}
                                    class="w-full rounded"
                                    format="webp"
                                />
                            </div>
                        )
                    }
                    <h1 set:html={markdownify(title)} class="h2 mb-4" />
                    <div class="content mb-10">
                        <Content />
                    </div>
                </article>
            </div>
        </div>
    </section>
</Layout>
